body {
  background-image: url(/assets/bg-main.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 1080;
  width: 1920;
}

* {
    font-family: "Pixelify Sans", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: lightgray;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  column-gap: 10px;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: space-between;
}

/* LEFT SECTION */

.left-section {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.pixel-logo {
  width: 30px;
  height: 30px;
}

.pixel-logo-text {
  font-size: large;
}

/* MIDDLE SECTION */

.middle-section {
  display: flex;
  align-items: center;
  text-align: center;
}

/* ICON + TEXT ANIMATION START */
.icon-hover-div {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  position: relative;
  
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.icon-hover-text {
  position: absolute;
  opacity: 0;
  bottom: -30px;
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s ease;
}

.icon-hover-div:hover .icon-hover-text {
  opacity: 1;
}
/* ICON + TEXT ANIMATION END  */

.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  height: 25px;
  width: 225px;
  border-style: solid;
  border-width: 1px;
  border-right-width: 0px;
  box-sizing: border-box;
  font-size: small;
  padding-left: 5px;
  color: rgb(144, 144, 144);
}

.search-bar-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 25px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
}

.search-bar-icon {
  height: 15px;
}

.right-section {
  display: flex;
  align-items: center;

}